@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

@layer base {
  html {
    font-size: 0.875rem;
  }
  body {
    @apply text-sm;
  }
}

/* En tu archivo CSS o agregar a tailwind.config.js */
@keyframes pulseEmerald {
  0%,
  100% {
    border-left-color: rgb(16, 185, 129);
  }
  50% {
    border-left-color: rgba(16, 185, 129, 0.5);
  }
}

@keyframes pulsePurple {
  0%,
  100% {
    border-left-color: rgb(168, 85, 247);
  }
  50% {
    border-left-color: rgba(168, 85, 247, 0.5);
  }
}

@keyframes pulseAmber {
  0%,
  100% {
    border-left-color: rgb(245, 158, 11);
  }
  50% {
    border-left-color: rgba(245, 158, 11, 0.5);
  }
}

@keyframes pulseRed {
  0%,
  100% {
    border-left-color: rgb(239, 68, 68);
  }
  50% {
    border-left-color: rgba(239, 68, 68, 0.5);
  }
}

@keyframes pulsePrimary {
  0%,
  100% {
    border-left-color: rgb(59, 130, 246);
  }
  50% {
    border-left-color: rgba(59, 130, 246, 0.5);
  }
}

@keyframes pulseGray {
  0%,
  100% {
    border-left-color: rgb(156, 163, 175);
  }
  50% {
    border-left-color: rgba(156, 163, 175, 0.5);
  }
}

.animate-pulse-emerald {
  animation: pulseEmerald 2s ease-in-out infinite;
}
.animate-pulse-purple {
  animation: pulsePurple 2s ease-in-out infinite;
}
.animate-pulse-amber {
  animation: pulseAmber 2s ease-in-out infinite;
}
.animate-pulse-red {
  animation: pulseRed 2s ease-in-out infinite;
}
.animate-pulse-primary {
  animation: pulsePrimary 2s ease-in-out infinite;
}
.animate-pulse-gray {
  animation: pulseGray 2s ease-in-out infinite;
}

/* Animaciones para fade-in */
@keyframes fadeInEmerald {
  0% {
    background-color: rgba(16, 185, 129, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes fadeInPurple {
  0% {
    background-color: rgba(168, 85, 247, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

/* ... definir el resto de las animaciones fade-in de manera similar ... */

.animate-fade-in-emerald {
  animation: fadeInEmerald 2s ease-out;
}
.animate-fade-in-purple {
  animation: fadeInPurple 2s ease-out;
}
/* ... el resto de las clases de animación fade-in ... */
